/* common */
body {
    color: #4b4b4b;
}


/* header */
header {
    width: 100%;
    padding: 30px 10% 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header_top {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

ul {
    display: flex;
}

.header_list {
    margin: 0 0 0 30px;
    font-size: 15px;
}

.nav_contents {
    margin: 0 0 0 auto;
}

.btn_logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4b4b4b;
    padding: 0;
    font-size: 15px;
}


/* main */
.main_content {
    background-color: #F5F5F5;
    padding: 50px 70px 50px 70px;
}

.title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.date_link {
    background-color: #fff;
    border: solid 0.5px rgb(37 99 235);
    color: rgb(37 99 235);
    font-weight: lighter;
    padding: 1px 10px;
}

.data_link-pre {
    display: inline-block;
    margin-right: 50px;
}

.data_link-next {
    display: inline-block;
    margin-left: 50px;
}

.table_inner {
    margin: auto;
}

th, td {
    border-top: 1px solid #4b4b4b;
    padding: 20px 60px;
}

/* footer */
.footer_title {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* ページネーション */
.pagination {
    justify-content: center;
    margin-top: 25px;
}

.page-item {
    background-color: #fff;
    text-align: center;
    padding: 10px 15px;
    border-left: solid 0.5px #DCDCDC;
    border-bottom: solid 0.3px #DCDCDC;
    border-top: solid 0.3px #DCDCDC;
    color: rgb(37 99 235);
}

.page-item:nth-last-child(1) {
    border-right: solid 0.5px #DCDCDC;
}
