/* common */
body {
    color: #4b4b4b;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4b4b4b;
}


/* header */
header {
    width: 100%;
    padding: 30px 10% 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header_top {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

ul {
    display: flex;
}

.header_list {
    margin: 0 0 0 30px;
    font-size: 15px;
}

.nav_contents {
    margin: 0 0 0 auto;
}

.btn_logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4b4b4b;
    padding: 0;
    font-size: 15px;
}


/* main */
.main_content {
    background-color: #F5F5F5;
    padding: 50px 90px 120px 90px;
}

.title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}


.form1,
.form2,
.form3,
.form4 {
    text-align: center;
    background-color: #fff;
}

.box_upper,
.box_lower {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form1,
.form3 {
    margin-right: 50px;
}


.box_inner {
    font-weight: bold;
    padding: 60px 150px;
}


/* footer */
.footer_title {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}